// styles.scss
.back-img {
	width: 100%;
	max-width: 375px;
	height: 288px;
	background: url(./400.jpg) no-repeat left center;
	background-size: 100% 100%;
}
.icon {
	width: 100%;
	max-width: 375px;
	height: 80px;
	background: url(./mine-active.png) no-repeat center center;
	background-size: contain;
	background-color: #f5cd79;
}
.bad-man {
	width: 100%;
	max-width: 375px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	background-color: #f7d794;
}
